.row
    .col-xs-12
        h2 PIN
            .btn-toolbar
                .btn.btn-default(onClick=this.changePin) PIN ändern
    if this.state.changepin
        Modal
            .modal-header
                h2 PIN ändern
            .modal-body
                .form-horizontal
                    .form-group
                        label.col-lg-2.control-label Neue PIN
                        .col-lg-10
                            input.form-control(type="password" value=this.state.changepin.pin onChange=this.onPinChanged)
            .modal-footer
                button.btn.btn-default(onClick=this.cancelChangePin) Abbrechen
                button.btn.btn-primary(onClick=this.confirmChangePin) Speichern
script.
    var client = require("../client.js");
    var Modal = require("boxify/lib/views/Modal.jade");
    exports.getInitialState = function(){
        return {};
    }
    exports.changePin = function(){
        this.state.changepin = {pin:""};
        this.forceUpdate();
    }
    
    exports.onPinChanged = function(e){
        this.state.changepin.pin = e.target.value;
        this.forceUpdate();
    }
    
    exports.cancelChangePin = function(){
        delete this.state.changepin;
        this.forceUpdate();
    }
    
    exports.confirmChangePin = function(){
        if(!this.state.changepin.pin.length) return alert("Bitte geben Sie eine neue PIN ein");
        client.updatePin(this.props.user,{pin:this.state.changepin.pin},function(err){
            delete this.state.changepin;
            this.forceUpdate();
        }.bind(this));
    }
