extends ./tablet-indoor
append content
    style.
        h1{
            text-align:center;
        }
        .btn{
            width:100%;
            font-size:30px;
            line-height:60px;
            margin-top:30px;
        }
    .col-xs-4
        h1 Licht
        .btn.btn-primary(onClick=this.setScene("An")) An
        .btn.btn-primary(onClick=this.setScene("Event Durchgang")) Event Durchgang
        .btn.btn-primary(onClick=this.setScene("Fäbu Work")) Fäbu
        .btn.btn-danger(onClick=this.setScene("Aus")) Aus
    .col-xs-4
        h1 Storen
        .btn.btn-success(onClick=this.shuttersUp.bind(this)) Hoch
        .btn.btn-success(onClick=this.shuttersDown.bind(this)) Runter
        .btn.btn-success(onClick=this.shuttersStop.bind(this)) Stop
        .btn.btn-success(onClick=this.shuttersTilt.bind(this)) Gekippt
    .col-xs-4
        h1 Lager
        .btn.btn-warning(onClick=this.mainlightHalfOn.bind(this)) Lager Licht halb
        .btn.btn-warning(onClick=this.mainlightOff.bind(this)) Lager Licht aus
        .btn.btn-warning(onClick=this.sonosPlay.bind(this)) Sonos play
        .btn.btn-danger(onClick=this.goHome.bind(this)) Go Home
    if this.state.showGateWarning
        Modal
            .modal-header
                h2 Achtung!
            .modal-body= "Das Tor ist noch geöffnet. Bitte schliessen Sie es bevor sie gehen!"
            .modal-footer
                button.btn.btn-default(onClick=this.closeGateWarning.bind(this)) Mach ich, danke!
    if this.state.goHomeCountdown
        Modal
            .modal-header
                h2="Selbstzerstörung in "+this.state.goHomeCountdown+"s..."
            .modal-footer
                button.btn.btn-default(onClick=this.abortGoHome.bind(this)) Abbrechen
script.
    var DeviceClient = require("../client/index");
    var Modal = require("./modal")
script(section="body").
    shuttersUp(){
        this.client.devices.shutters.moveUp();
    }
    
    shuttersDown(){
        this.client.devices.shutters.moveDown();
    }
    
    shuttersStop(){
        this.client.devices.shutters.stop();
    }
    
    shuttersTilt(){
        this.client.devices.shutters.tilt();
    }
    
    setScene(name){
        return function(){
            this.client.devices.officelight.setSceneByName(name);
        }.bind(this)
    }
    
    mainlightHalfOn(){
        this.client.devices.mainlight.turnHalfOn();
    }
    
    mainlightOff(){
        this.client.devices.mainlight.turnOff();
    }
    
    goHome(){        
        if(this.client.devices.gate.state.state != "closed" || this.client.devices.outerdoor.state.open){
            this.state.showGateWarning = true;            
        }else{
            this.state.goHomeCountdown = 30;
            this.goHomeInterval= setInterval(function(){
                if(--this.state.goHomeCountdown <= 0){
                    clearInterval(this.goHomeInterval);
                    this.mainlightOff();
                    this.client.devices.workshoplight.turnOff();
                    this.client.devices.outdoorlight.turnOff();
                    this.client.devices.officelight.setSceneByName("Aus");
                    this.client.devices.innerdoor.setAutoLock(true);
                    this.client.devices.outerdoor.setAutoLock(true);
                    this.client.devices.sonos.pause();
                }
                this.forceUpdate();
            }.bind(this),1000);
        }
        this.forceUpdate();
    }   
    
    closeGateWarning(){
        delete this.state.showGateWarning;
        this.forceUpdate();
    }
    
    abortGoHome(){
        clearInterval(this.goHomeInterval);
        delete this.state.goHomeCountdown;
        this.forceUpdate()
    }
    
    sonosPlay(){
        this.client.devices.sonos.play();
    }
