.row
    .col-xs-12
        h2 PIN
            .btn-toolbar
                .btn.btn-default(onClick=this.changePin.bind(this)) PIN ändern
    if this.state.changepin
        Modal
            .modal-header
                h2 PIN ändern
            .modal-body
                .form-horizontal
                    .form-group
                        label.col-lg-2.control-label Neue PIN
                        .col-lg-10
                            input.form-control(type="password" value=this.state.changepin.pin onChange=this.onPinChanged.bind(this))
            .modal-footer
                button.btn.btn-default(onClick=this.cancelChangePin.bind(this)) Abbrechen
                button.btn.btn-primary(onClick=this.confirmChangePin.bind(this)) Speichern
script.
    var client = require("../client");
    var Modal = require("require")("boxify/lib/views/Modal.js");
script(section="body").
    constructor(props,context){
        super(props,context);
        this.state = {};
    }
    changePin(){
        this.state.changepin = {pin:""};
        this.forceUpdate();
    }
    
    onPinChanged(e){
        this.state.changepin.pin = e.target.value;
        this.forceUpdate();
    }
    
    cancelChangePin(){
        delete this.state.changepin;
        this.forceUpdate();
    }
    
    async confirmChangePin(){
        if(!this.state.changepin.pin.length) return alert("Bitte geben Sie eine neue PIN ein");
        await client.updatePin(this.props.user,{pin:this.state.changepin.pin});
        delete this.state.changepin;
        this.forceUpdate();
    }
